/* ===Reset CSS=== */
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* ===頁首=== */
.header{
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #ffffff;
}
.header ul{
    text-align: right;
}
.header ul li{
    list-style: none;
    display: inline-block;
    text-decoration: none;
}
.header ul li a{
    text-decoration: none;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    color: #666666;
    padding: 10px;
}

/* ===主頁=== */
.body{
    padding-top: 5%;
}
.body table{
    width: 100%;
}
.body table img{
    width: 25%;
    max-width:100%;
    padding-left: 10%;
    padding-top: 5%;}
.body table td h2{
    color: #262626;
}

